<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<!-- ページのタイトル（ブラウザのタブに表示される名前）を指定 -->
	<title>Employee List</title>
	<style>
		/* テーブルのセルの幅と中央揃えを設定 */
		.table th,
		.table td {
			width: 100px;
			text-align: center
		}
	</style>
</head>

<body>
	<!-- ページの見出し -->
	<h2>社員紹介一覧</h2>

	<!-- 登録ボタン押下時のアクションを定義するformを追加する -->
	<table class="table" border="1">
		<!-- テーブルのヘッダー行 -->
		<tr>
			<th>社員番号</th>
			<th>名前</th>
		</tr>
		<!-- 1人目の社員情報 -->
		<tr>
			<td>0001</td>
			<!-- Mikeを表示し、0001.htmlへのリンク処理をここに追加する -->
		</tr>
		<!-- 2人目の社員情報 -->
		<tr>
			<td>0002</td>
			<!-- Johnを表示し、0002.htmlへのリンク処理をここに追加する -->
		</tr>
	</table>
	<p>
		<button type="submit">登録</button>
	</p>
	<!-- 	</form>  -->

</body>

</html>