<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Instructor UpdateForm</title>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		{% include 'header.html' %}
		<!-- エラーメッセージ表示 -->
		!!!エラーメッセージ!!!

		<!-- インストラクター更新フォーム -->
		<form method="post">
			<table>
				<!-- 氏名入力 -->
				<tr>
					<th><label for="fullName">氏名</label></th>
					<td>
						<input type="text" name="fullName" id="fullName" value="{{ instEntity[0].full_name }}" maxlength="20">
						<!-- 氏名入力のエラーメッセージ表示 -->
					</td>
				</tr>
				<!-- ビジネスネーム入力 -->
				<tr>
					<th><label for="businessName">ビジネスネーム</label></th>
					<td>
						<input type="text" name="businessName" id="businessName" value="{{ instEntity[0].business_name }}" maxlength="20">
						<!-- 氏名入力のエラーメッセージ表示 -->
					</td>
				</tr>
				<!-- 分野選択 -->
				<tr>
					<th><label for="fieldId">分野</label></th>
					<td>
						<select name="fieldId" id="fieldId">
							<!-- 分野リストの動的生成 -->
							{% for field in fieldList %}
								<option value="{{ field.field_id }}" {% if field.field_id == instEntity[0].field_id %}selected{% endif %}>{{ field.field_name }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<!-- 経験入力 -->
				<tr>
					<th><label for="experience">経験</label></th>
					<td>
						<textarea name="experience" id="experience">{{ instEntity[0].experience }}</textarea>
						<!-- 経験入力のエラーメッセージ表示 -->
						</div>
					</td>
				</tr>
			</table>
			<div>
				<!-- 更新、キャンセルボタン -->
				<button type="submit" formaction="{{ url_for('update_inst', instructor_id=instEntity[0].instructor_id) }}" class="create-button">登録</button>
				<button type="submit" formaction="{{ url_for('cancel') }}">キャンセル</button>

				<!-- 削除ボタン -->
				<button type="submit" formaction="{{ url_for('delete_inst', instructor_id=instEntity[0].instructor_id) }}" class="red">削除</button>
			</div>
		</form>
	</div>
</body>

</html>