<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- 文字コードを指定 -->
    <meta charset="utf-8">
    <!-- レスポンシブデザイン用のメタタグ -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ページのタイトル -->
    <title>RoomEcho</title>
    <!-- Bootstrap CSSを読み込む -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Bootstrapアイコンを読み込む -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <!-- カスタムCSSを読み込む -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
</head>

<body>
    <!-- ヘッダーをインクルード -->
    {% include 'common/staff-header.html' %}
    <!-- メニューバーをインクルード -->
    {% include 'common/staff-menu.html' %}
    
    <!-- メインコンテナ -->
    <div class="container main-container">
        <!-- ページタイトル -->
        <h1>会員一覧</h1>
        
        <!-- 会員情報リスト -->
        <div class="data-list">
            <!-- 会員情報を繰り返し表示 -->
            {% for member in members %}
            <div class="data-card member-list-card">
                <!-- 会員IDを表示 -->
                <div class="data-group">
                    <div class="data-label">会員ID</div>
                    <div class="data-value">{{ member.user_id }}</div>
                </div>
                
                <!-- 会員名を表示 -->
                <div class="data-group">
                    <div class="data-label">会員名</div>
                    <div class="data-value">{{ member.member_name }}</div>
                </div>
                
                <!-- メールアドレスを表示 -->
                <div class="data-group">
                    <div class="data-label">メールアドレス</div>
                    <div class="data-value">{{ member.email }}</div>
                </div>
                
                <!-- ボタン -->
                <div class="btn-group">
                    <!-- 会員情報変更ページへのリンク -->
                    <a href="{{ url_for('staff.member_edit', user_id=member.user_id) }}"
                        class="btn btn-edit btn-sm">変更する</a>
                    <!-- 会員退会ページへのリンク -->
                    <a href="{{ url_for('staff.member_del', user_id=member.user_id) }}"
                        class="btn btn-delete btn-sm">退会する</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <!-- フッターをインクルード -->
    {% include 'common/staff-footer.html' %}
</body>

</html>
